.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.avatar {
  margin-top: -290px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(250, 248, 248);
  background: #cecece;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.loginGrid
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 35% 15% 15%;
  margin-top: -60px;
}

.loginContainer {
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  background: rgb(240, 240, 240, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.loginTitle
{
  display: block;
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
  color: rgb(54, 54, 54);
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.githubButton
{
  display:inline-flex; 
  align-items:center; 
  height:28px;
  width: 172px;
  background-color:#24292e; 
  font-family:'Roboto',sans-serif;
  font-size:14px; color:white;
  text-decoration:none;
  padding:8px 12px 8px 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.githubButton:hover
{
  display:inline-flex; 
  align-items:center; 
  height:28px;
  width: 172px;
  background-color:#404a53; 
  font-family:'Roboto',sans-serif;
  font-size:14px; color:white;
  text-decoration:none;
  padding:8px 12px 8px 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation-name: githubButtonAnimation;
  animation-duration: 0.1s;
}

@keyframes githubButtonAnimation {
  0% 
  {
    background-color:#24292e; 
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  100% 
  {
    background-color:#404a53; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.passwordlessButton
{
  display:inline-flex; 
  align-items: center;
  justify-content: center;
  height:28px;
  width: 172px;
  background-color:#3498DB; 
  font-family:'Roboto',sans-serif;
  font-size:14px; color:white;
  text-decoration:none;
  padding:8px 12px 8px 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.passwordlessButton:hover
{
  display:inline-flex; 
  align-items: center;
  justify-content: center;
  height:28px;
  width: 172px;
  background-color:#3ab0ff; 
  font-family:'Roboto',sans-serif;
  font-size:14px; 
  color:white;
  text-decoration:none;
  padding:8px 12px 8px 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation-name: passwordlessButtonAnimation;
  animation-duration: 0.1s;
}

@keyframes passwordlessButtonAnimation {
  0% 
  {
    background-color:#3498DB; 
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  100% 
  {
    background-color:#3ab0ff; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.textInputUser
{
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.1s;
  background-color: rgb(255, 255, 255, 0.5);
  border: solid;
  width: 172px;
  border-width: 0px;
  height: 25px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.textInputUser:focus
{
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.1s;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation-name: loginInputAnimation;
  animation-duration: 0.1s;
}


@keyframes loginInputAnimation {
  0% 
  {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  100% 
  {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
